@use 'variables' as *
.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 48%
    left: 35%
    width: 20%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 48.33333333% !important
.banner-principal__img 
  padding-bottom: 0 !important;
.banner-principal__row .banner-principal__img 
    width: 30%;
    
.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6
  color: #ffff !important  


.boton *, .boton--sm *,
.barra-avance__boton--regresar span
  color: $color-sistema-texto  !important
.banner-interno__titulo h1, .banner-interno__titulo h2, 
.banner-interno__titulo h3, .banner-interno__titulo h4, 
.banner-interno__titulo h5, .banner-interno__titulo h6
  color: $color-sistema-texto !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $white !important
figcaption 
    font-weight: normal !important

.banner-interno__titulo__icono i
    color: $color-acento-botones !important;
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/banner-internoo.jpg") !important
.banner-interno__titulo h1, .banner-interno__titulo h2, .banner-interno__titulo h3, .banner-interno__titulo h4, .banner-interno__titulo h5, .banner-interno__titulo h6 
    color: #ffff !important

/**************************************************************/
/***CUSTOM STYLES***/
/**************************************************************/
.p-full-width
  padding: 3rem 3.5rem!important;
.bg-full-width
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
.bg-fondo
  &-1
    //background-image: url(../assets/curso/bg/3.svg)
.bg-color
  &-1
    background-color: $color-primario

.bg01
  background-color: #6D33A9
.bg02
  background-color: #1D4BC9
  border-radius: 20px
.bg03
  background-color: #1D4BC9
.bg04
  background-color: #E8ECFA
.bg05
  background-image: url('../assets/curso/temas/t3/01.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
.bg06
  background-image: url('../assets/curso/temas/t3/02.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
.bg08
  background-color: #DEE4F0
.bg09
  background-color: #A4B7E9
.bg07
  background-image: url('../assets/curso/temas/t3/03.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
.bg5
  background-color: #F0EAF6
.acordion__accion__btn--a 
  background-color: #4FF0A2 !important
.acordion .tarjeta--azul
  background-color: #C4ADDC !important
.acordion .tarjeta.tarjeta--azul.acordion__activo
  background-color: #F0EAF6 !important
.acordion__accion__btn--b 
  background-color: #4FF0A2 !important
.text-white
  color: #ffff !important
.izq
  margin-left: -0.8rem
.fondo1
  background-image: url('../assets/curso/temas/t2/fondo1.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
.izqtext
  text-align: left !important
.w-card-icon
  width: min-content
  z-index: 1
.w-card-text
  position: relative
  padding-left: 50px
  padding-right: 50px
  left: -30px
  top: 12px


/**************************************************************/
/*Media Queries*/  
/**************************************************************/

//// DESKTOP SMALL 1400--------------------------------------
@media screen and (max-width: $bp-min-xxl)
  .mb-cus
    margin-bottom: 2em  !important 

//// TABLET 992--------------------------------------
@media screen and (max-width: $bp-max-md)
  .mb-cus
    margin-bottom: 2em  !important  
  .col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
    width: 90% !important

  
 
  
//// TABLET MINI 768--------------------------------------
@media screen and (max-width: $bp-min-md)
  .mb-cus
    margin-bottom: 2em  !important  

  

//// MOBILE 576--------------------------------------
@media screen and (max-width: $bp-min-sm)
  .mb-cus
    margin-bottom: 2em  !important

  
 